<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js tutorial</title>
  
  <link href="style.css" rel="stylesheet">
  <!-- vue.js development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div id="vue-app">
    <h1>Dynamic classes</h1>

    <h2>Example 1</h2>
    <!-- on click of div available data property is toggled true/false -->
    <!-- v-bind class = class name: data property name -->
    <div v-on:click="available = !available" v-bind:class="{hello: available}">
      <span>Ryu</span>
    </div>

    <h2>Example 2</h2>
    <button v-on:click="nearby = !nearby">Toggle nearby</button>
    <button v-on:click="available = !available">Toggle available</button>
    <div v-bind:class="compClasses">
      <span>Ryu</span>
    </div>

    <hr>

    <h1>Conditionals</h1>
    <button v-on:click="error = !error, error2 = !error2">Toggle error</button>
    <button v-on:click="success = !success, success2 = !success2">Toggle success</button>
    <p v-if="error">Error is true</p> <!--this only exists in DOM if error property is true -->
    <p v-else-if="success">Success is true</p> <!--this only exists in DOM if success property is true and error property is false -->

    <p v-show="error">Error 2 is true</p> <!-- v-show toggles display:none -->
    <p v-show="success">Success 2 is true</p>

    <hr>

    <h1>Looping through lists</h1>
    <ul>
      <li v-for="character in characters">{{ character }}</li> <!-- characters is data property-->
    </ul>
    <ul>
      <li v-for="(ninja, index) in ninjas">{{index}}.{{ninja.name}} - {{ninja.age}}</li>
    </ul>

    <div v-for="(ninja, index) in ninjas">
      <h3>{{index}}.{{ninja.name}}</h3>
      <p>{{ninja.age}}</p>
    </div>

    <hr>
    <!-- or -->

    <template v-for="(ninja, index) in ninjas">
      <h3>{{index}} . {{ninja.name}}</h3>
      <p>{{ninja.age}}</p>
    </template>

    <template v-for="ninja in ninjas">
      <div v-for="(val, key) in ninja">
        <p>{{key}} - {{val}}</p>
      </div>
    </template>


  </div>
  
  <script src="app.js"></script>
</body>
</html>